html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300px
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Component Styles */
/* FOOTER */
#footer, .navbar {
  background-color: #264d38 !important;
  color: white;
  letter-spacing: 0.125rem;
  font-weight: 200 !important;
}

#footer a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0rem !important;
}

/* NAVBAR */
.navbar-brand, .nav-link {
  color: white !important;
}
.navbar-brand {
  font-weight: 300 !important;
}
.nav-link {
  letter-spacing: 0.125rem !important;
  text-indent: 0.261rem !important;
  font-weight: 200 !important;
}

/* LANDING PAGE */
.landing-page {
  text-align: center;
}

.banner {
  background-color: #356943;
  color: white;
  padding: 2.5rem 0;
}

.example-windows-section {
  height: 70vh;
  background-color: #fff8f0;
}

.text-window {
  background-color: #fff8f0;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.image-window {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-fill {
  object-fit: cover;
  object-position: center;
}

.landing-large-font {
  font-size: 80px;
}

.landing-small-font {
  letter-spacing: 0.1rem !important;
}

.button-one {
  background-color: #356943 !important;
  border-color: #356943 !important;
  max-width: 500px !important;
}

/* CALENDAR */
.calendar-nav {
  display: flex;
  justify-content: center;
  background-color: #356943;
  padding: 2rem;
}

.calendar-title {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.calendar-main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 108vh;
  padding: 2rem;
  background-color: #fff8f0; /* Light gray background for the main container */
}

.calendar-grid-container {
  display: grid;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.calendar-calendar {
  grid-column: span 8;
  padding: 2rem; /* Adjust padding to create spacing around the calendar */
  background-color: #ffffff; /* White background for the calendar area */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  overflow: hidden; /* Hide overflow content */
}