html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300px
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Component Styles */
/* FOOTER */
#footer, .navbar {
  background-color: #264d38 !important;
  color: white;
  letter-spacing: 0.125rem;
  font-weight: 200 !important;
}

#footer a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0rem !important;
}

/* NAVBAR */
.navbar-brand, .nav-link {
  color: white !important;
}

.navbar-brand {
  font-weight: 300 !important;
}

.nav-link {
  letter-spacing: 0.125rem !important;
  text-indent: 0.261rem !important;
  font-weight: 200 !important;
}

/* LANDING PAGE */
.landing-page {
  text-align: center;
}

.banner {
  background-color: #356943;
  color: white;
  padding: 2.5rem 0;
}

.example-windows-section {
  display: flex;
  height: 70vh;
  background-color: #fff8f0;
  overflow: hidden;
}

.text-window {
  background-color: #fff8f0;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.image-window {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-fill {
  object-fit: cover;
  object-position: center;
}

.landing-large-font {
  font-size: 80px;
}

.landing-small-font {
  letter-spacing: 0.1rem !important;
}

.button-one {
  background-color: #356943 !important;
  border-color: #356943 !important;
  color: white;
  max-width: 500px !important;
}

/* CALENDAR */
.calendar-nav {
  display: flex;
  justify-content: center;
  background-color: #356943;
  padding: 0.5rem;
}

.calendar-title {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.calendar-main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 108vh;
  padding: 2rem;
  background-color: #fff8f0;
}

.calendar-grid-container {
  display: grid;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.calendar-calendar {
  grid-column: span 8;
  padding: 2rem; /* Adjust padding to create spacing around the calendar */
  background-color: #ffffff; /* White background for the calendar area */
  border-radius: 0.5rem; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  overflow: hidden; /* Hide overflow content */
}

.fc .fc-button-primary { color: #FFFFFF; background-color: #264d38 !important; border-color: #FFFFFF !important; }

/* COURSES */

.courses-box {
  flex: 0 0 calc(20% - 1rem); /* Each box takes 25% of the row width, minus spacing */
  max-width: calc(20% - 1rem);
  height: 100px; /* Fixed height for all boxes */
  margin: 0.5rem; /* Spacing between boxes */
  text-align: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.courses-row {
  display: flex;
  flex-wrap: wrap; /* Ensures wrapping of boxes when they don't fit in a row */
  justify-content: flex-start; /* Align boxes to the start */
  margin: 0 -0.5rem; /* Adjust for the margin of child boxes */
}

.course-button {
  border: none;
  background-color: #ffffff;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%; /* Ensures button takes up the entire box */
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.course-button:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.courses-spacing {
  padding: 2.5rem;
  background-color: #fff8f0;
}

.level-header {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.row-divider {
  border: 10px solid #264d38;
  margin: 0rem;
}

/* Create Session Page */
.container#create-session {
  background-color: #2b5740 !important;
  color: white;
  border-radius: 10px;
  padding: 5rem;
  h1 {
    font-weight: 300 !important;
    padding-bottom: 3rem;
    letter-spacing: 0.1rem;
  }

  p, label {
    font-weight: 200 !important;
    letter-spacing: 0.05rem;
    margin-bottom: 0px;
    margin-top: 1rem;
  }
}

#preview-button {
  background-color: #65aa87 !important;
  border-color:  #65aa87!important;
  letter-spacing: 0.075rem !important;
  margin-right: 2rem;
}

.create-session-button.mr-2 {
  letter-spacing: 0.075rem !important;
  margin-right: 1rem;
}