html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300px
}
.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Example Windows (Landing Page) */
.example-windows-section {
  text-align: center;
  flex-grow: 1;
  display: flex;
  padding: 40px 0;
  background-color: #fff8f0;
}
.example-window {
  border: 4px solid #224432;
  border-radius: 15px;
  width: 80%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

/* Component Styles */
/* FOOTER */
#footer, .navbar {
  background-color: #264d38 !important;
  color: white;
  letter-spacing: 0.125rem;
  font-weight: 200 !important;
}

#footer a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0rem !important;
}

/* NAVBAR */
.navbar-brand, .nav-link {
  color: white !important;
}
.navbar-brand {
  font-weight: 300 !important;
}
.nav-link {
  letter-spacing: 0.125rem !important;
  text-indent: 0.261rem !important;
  font-weight: 200 !important;
}

/* TAILWIND STUFF */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-lightgray-50;
}

input {
  @apply px-2;
}

.fc-header-toolbar {
  display: inline-block;
  padding: 4px 4px;

  @apply space-x-8;
}

.fc-day {
  @apply m-8;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
}

.fc-h-event {
  @apply bg-darkgreen-500 border border-darkgreen-600;
}

.fc .fc-daygrid-day .fc-day-today {
  @apply bg-darkgreen-100;
}

.fc .fc-button {
  @apply bg-darkgreen-800 hover:bg-darkgreen-900;
}

.fc .fc-button-primary:not(:disabled) .fc-button-factive {
  @apply bg-darkgreen-600;
}

.fc .fc-button-primary:disabled {
  @apply bg-darkgreen-600;
}

.fc-v-event {
  @apply bg-darkgreen-500 border border-darkgreen-600;
}